[Unit]
Description=Update letsencrypt certificates
[Service]
Type=oneshot
ExecStart=/root/letsencrypt-power-update/updateAll.sh
WorkingDirectory=/root/letsencrypt-power-update
